input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    //-webkit-appearance: none;
    //margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="text"],
input[type="number"],
input[type="select"]{
  // -moz-appearance: none;
  // -webkit-appearance: none;
  // appearance: none;
  box-shadow: 0 0 0 30px #ffffff inset
}

input[type="date"]{
  &::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url("./img/calendar.svg") no-repeat center;
    background-size: contain;
    //position: absolute;
    //top: 2px;
    //right: 2px;
  }

  &::-webkit-clear-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    //display: none;
  }
}