// Fonts-----------------------------------------------------------------------
$main-font: "Roboto", sans-serif;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// Colors-----------------------------------------------------------------------

$main-color-warm: #ff5722;
$main-color-cold: #3f51b5;
$main-color-light: #fff;
$main-color-bg: #e6e6e6;

$text-color-light: #b3b3b3;
$text-color-dark: #4d4d4d;
$headings-color: #3f51b5;

// Geometry
// Desktop
$max-wrapper-width: 1040px;
$max-content-wrapper-width: 640px;