@import './components/View/view.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  // font-family: 'Poppins', sans-serif;
  // font-size: 12px;
  //background-color: #aaa;
}
.container{
  width: 1040px;
  margin: 0 auto;
}
.header{
  min-height: 68px;
  padding: 24px 0;
  background-color: #3f51b5;
}
.nav{
    display: flex;
    justify-content: space-between;

  &__logo{
    display: block;
    text-decoration: none;
  }
  &__list{
    display: flex;
    list-style: none;
   

  }
  &__link{
    position: relative;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
        
    &:hover{
      color: #ff5722;
    }
 
    &:hover::after{
      width: 100%;
         }
    &::after{
    margin-top: 10px;
    display: block;
    position: absolute;    
    left: 0;    
    width: 0;
    height: 2px;
    background-color:  #ff5722;
    content: "";
    transition: width 0.3s ease-out;
      }
  }
  &__item{
    margin-right: 35px;

    &--active {
      color:  #ff5722;
    }

  }
}
.main{
  
  // padding: 46px 120px;
}

.section {
  background-color: #e6e6e6;
  // background-color: #ffffff;
  padding: 46px 0px;
  &__content{
    margin: 0 auto;
    background-color: #ffffff;
    width: 1040px;
  }
  &--hidden {
    display:none;
  }
}

.expenses{
  padding: 30px 100px 60px;

  &__calendar{
    text-align: center;
    margin-bottom: 55px;
    
  }
  &__content{
    padding: 30px 100px 60px;
  }
  &__form{
    text-align: center;
    margin-bottom: 40px;
  }
  &__chart{
    width: 350px;
    height: 250px;
    margin: 0 auto;
  }
  &__list{
    padding: 30px 5px 20px 20px;
    list-style: none;
    margin-bottom: 20px;
    
  }
  &__item{
    margin-bottom: 15px;
  }
  &__button-cont{
    margin-bottom: 20px;
  }
  &__add-button{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    border: none;
    background-color: #ff5722;
    padding: 8px 40px;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: auto;
    outline: transparent;
    cursor: pointer;
  }
 
}
.exp-item{
  
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;

  &__name,
  &__purpose,
  &__periodicity{
    width: 150px;
    margin-right: 60px;
  }
  &__periodicity{
    margin-right: 0;
  }
  &__purpose{
    margin-right: 100px;
  }
  &__amount{
    width: 90px;
    margin-right: 60px;
  }

  &__edit,
  &__delete{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__edit{
    background-image: url(img/edit.svg);
    margin-right: 5px;
  }
  &__delete{
    background-image: url(img/x.svg);
  }
}

.exp-form{
  &__name,
  &__amount,
  &__category,
  &__type {
    font-family: 'Roboto', sans-serif;
    // color: #b3b3b3;
    color: #5c626d;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    outline: transparent;
    margin-right: 60px;
  }
  &__name{
    width: 175px;
  }
  &__amount{
  width: 90px;
  }
  &__category {
    width: 175px;
    
  }
  &__type{
    width: 175px;
    margin-right: 0;
  }
   
}
.footer{
  display: flex;
  padding: 15px;
  background-color: #3f51b5;

  &__content{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 12px;
    margin: 0 auto;
  }
}
 






